name: ci

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "${{ github.event.inputs.commitMessage }}"
          echo "${{ github.event.inputs.message }}"
